html body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --dark-color: #016b58;
  --mid-color: #1fa58d;
  --light-color: #f4f9f5;
  --dark-secondary-color: #565858;
  --light-secondary-color: #ebebf0;
  --font-color: black;
  --title-font: Helvetica;
  --body-font: Roboto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* button {
  background-color: var(--light-color);
  border: var(--dark-color);
  color: var(--dark-color);

  :hover {
    background-color: var(--dark-color);
    color: var(--light-color);
  }
} */

.icon {
  height: 1.8rem;
  width: 1.8rem;
}
